image-wrapper {
  width: 70%;
  aspect-ratio: 16 / 9;
  overflow: hidden;
  border-radius: 12px;
  background-color: #f3f3f3;
  display: flex;
  align-items: center;
  justify-content: center;
}

.image {
  object-fit: contain;
}

.meals-page {
  padding: 20px 60px;
  background-color: var(--bg-color);
  text-align: center;
}

.meal-detail {
  padding: 20px 60px;
  background-color: var(--bg-color);
  text-align: start;
}

.meals-intro {
  color: #444;
  margin-bottom: 20px;
}

.meals-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  gap: 30px;
  margin-top: 30px;
  text-decoration: none;
  color: #fefbd9;
}

.meal-card {
  background-color: #fffef3;
  border-radius: 16px;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.1);
  padding: 16px;
  text-align: left;
  transition:
    transform 0.2s ease,
    box-shadow 0.2s ease;
  text-decoration: none;
}

.meal-card:hover {
  transform: scale(1.02);
  box-shadow: 0 5px 12px rgba(0, 0, 0, 0.15);
}

.meal-img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 10px;
}

.meal-img-detail {
  width: 100%;
  height: 300px;
  object-fit: cover;
  border-radius: 10px;
}

.meal-img-empty {
  width: 100%;
  height: 200px;
  background-color: #fffef3;
  object-fit: cover;
  border-radius: 10px;
  text-align: center;
  line-height: 200px;
  border-style: solid;
  border-color: #fefbd9;
  color: #f3e897;
}

.meal-title {
  margin-top: 10px;
  color: #f68537;
}

.meal-info {
  margin: 8px 0;
  font-size: 0.95rem;
}

.meal-ingredients ul {
  margin: 0;
  padding-left: 20px;
}

.meal-steps p {
  margin-top: 5px;
  color: #555;
}

/* ----------nový recept--------------- */
.new-meal-form {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

/* Label a pole vedle sebe, label vlevo, pole vpravo */
.new-meal-form label {
  display: flex;
  align-items: center;
  font-weight: 600;
  margin-bottom: 0.5rem;
  gap: 1rem;
  white-space: nowrap;
}

/* Text labela zabírá pevnou šířku a je zarovnán vlevo */
.new-meal-form label > :first-child {
  flex: 0 0 120px; /* šířka labelu */
  text-align: left;
}

.new-meal-form fieldset {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
}

/* Pole pro vyplnění (input, textarea, select) výplní zbytek místa */
.new-meal-form input[type="text"],
.new-meal-form textarea,
.new-meal-form select {
  flex: 1;
  padding: 0.5rem;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  cursor: pointer;
}

.new-meal-form input[type="number"] {
  width: 3rem;
  padding: 0.5rem;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  cursor: pointer;
}

/* Checkboxy - label jako flex s políčkem napravo */
.new-meal-form fieldset {
  border: none;
  padding: 0;
  margin: 0;
}

.new-meal-form fieldset legend {
  font-weight: 700;
  margin-bottom: 0.5rem;
}

.new-meal-form fieldset label {
  display: flex;
  align-items: start;
  gap: 0.5rem;
  cursor: pointer;
}

/* Checkbox má pointer */
.new-meal-form input[type="checkbox"] {
  cursor: pointer;
  width: 3rem;
}

.new-meal-form fieldset > label > input[type="checkbox"] {
  margin: 0;
}

/* U seznamu ingrediencí - tlačítka a input s pointerem */
.new-meal-form button,
.new-meal-form input[type="number"] [min="1"] {
  cursor: pointer;
  width: 4rem;
}

/* Tlačítko odebrat ingredienci */
.new-meal-form button[aria-label="Odebrat ingredienci"] {
  background: none;
  border: none;
  font-size: 1.2rem;
  padding: 0;
  cursor: pointer;
  color: #d00;
}

/* Hlavní tlačítko uložit */
.new-meal-form > button[type="submit"] {
  align-self: flex-end;
  padding: 0.5rem 1rem;
  background-color: #f97316;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 10rem;
}

.new-meal-form > button[type="submit"]:hover {
  background-color: #ea580c;
}

.meal-types {
  display: flex;
  gap: 3rem;
  align-items: flex-start;
}

textarea {
  width: full;
}

.ingredients-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 20px;
  margin-top: 2rem;
}

.ingredients-grid a {
  text-decoration: none;
  color: #fefbd9;
}
.ingredients-h2 {
  color: #fefbd9;
  font-size: 1.2rem;
  margin-top: 4rem;
  padding-top: 1rem;
  border-top: 1px solid #fefbd9;
}
